doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="../css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="../javascript/src/createBooksList.js")
        script(src="../javascript/src/itemActions.js")
    body
        header
            h1 Accidents List
        section#content
            table.accidentsList
                tr
                    th #
                    th Address
                    th Type
                    th Status
                    th Photo
                    th Action

