@font-face {
  font-family: CaviarDreams;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: DroidSans;
  src: url(../fonts/DroidSans.ttf);
}
body {
  font-family: DroidSans, sans-serif;
  color: #24526A;
}
.jumbotron {
  font-family: CaviarDreams, sans-serif;
  background: #3B7674;
  background: -webkit-linear-gradient(top, #A3CCD2 0%, #EEF7F6 100%);
}
.jumbotron,
h2 {
  text-align: center;
}
.user-login {
  margin-top: 3rem;
}
div.row.user-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0.125rem;
  padding: 3rem 1.5rem;
}
button.btn {
  width: 100%;
  margin: 2rem 0;
  background-color: #A3CCD2;
  color: #fff;
  text-transform: uppercase;
  border-color: #EEF7F6;
}
button.btn:hover,
.inputImg + label:hover {
  background-color: #3B7674;
  color: #EEF7F6;
}
.btn,
.form-group input,
.form-group textarea,
.form-group select {
  background-color: #fafefc;
}
.help-block {
  font-size: 1.2rem;
}
ul.nav.nav-tabs li a {
  font-family: DroidSans, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
ul.nav.nav-tabs li.active a {
  color: #24526A;
}
ul.nav.nav-tabs li a {
  color: #555;
}
.form-control:focus {
  border-color: #3B7674;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 1px 4px rgba(163, 204, 210, 0.45);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px 2px rgba(163, 204, 210, 0.45);
}
.add-user {
  border: 1px solid #A3CCD2;
  margin-left: 84px;
}
.inputImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputImg + label {
  background-color: #A3CCD2;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 16px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
